{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}

{% form_theme form _self %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='assets/compiled/frontend_cart_summary.js'
    'bundles/syliusweb/js/form-collection.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    {% if not cart.empty %}
        {{ form_errors(form) }}

<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
    <!--Cart Main Area Start-->
    <div class="cart-main-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="heading-title">{{ 'sylius.ui.cart_summary'|trans|raw }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- table start -->
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-remove">Remove</th>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="real-product-price">unit price</th>
                                    <th class="product-quantity">Qty</th>
                                    <th class="product-subtotal">subTotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in form.items %}
                                    {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="cart-s-btn">
                            </div>
                            <div class="cart-s-btn">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                                        <div class="buttons-cart button-continue">
                                            <a class="cart-but-mar" href="#">Continue Shopping</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                                        <div class="buttons-cart button-cart-right">
                                    <span class="shopping-btn">
                                      <a class="cart-but-mar" href="{{ path('sylius_cart_clear') }}">clear shopping cart</a>
                                      <a href="#" href="#" onclick="$(this).closest('form').submit()">update Shopping cart</a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_row(form._token) }}

                    </form>
                    <!-- table end -->
                </div>
            </div>
            <!-- place selection start -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    {#<div class="place-section">
                        <div class="place-headline">
                            <h4>Estimate Shipping and Tax</h4>
                            <P>Enter your destination to get a shipping estimate.</P>
                        </div>
                        <div class="search-categori">
                            <h5>Country <em class="county-star">*</em></h5>
                            <div class="categori">
                                <form id="select-categoris" method="post" class="form-horizontal">
                                    <select name="language" class="orderby">
                                        <option value="">United States </option>
                                        <option value="12">Afganisthan</option>
                                        <option value="21">Albenia</option>
                                        <option value="25">Algeria</option>
                                        <option value="25">Australia</option>
                                        <option value="25">Austria</option>
                                        <option value="25">Angola</option>
                                        <option value="25">Argentina</option>
                                        <option value="25">Bangladesh</option>
                                        <option value="25">Brunai</option>
                                        <option value="25">Belgium</option>
                                        <option value="25">Belarus</option>
                                        <option value="25">Brazil</option>
                                        <option value="25">Butan</option>
                                        <option value="25">Barma</option>
                                        <option value="25">Canada</option>
                                        <option value="25">Chad</option>
                                        <option value="25">Chaina</option>
                                        <option value="25">Dubai</option>
                                        <option value="25">Denmark</option>
                                        <option value="25">Domineka</option>
                                        <option value="25">Egypt</option>
                                        <option value="25">Ecoudar</option>
                                        <option value="25">Estonia</option>
                                        <option value="25">France</option>
                                        <option value="25">Finland</option>
                                        <option value="25">Germany</option>
                                        <option value="25">Italy</option>
                                        <option value="25">India</option>
                                        <option value="25">Pakisthan</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="search-categori">
                            <h5>State / Province</h5>
                            <div class="categori">
                                <form id="select-cate" method="post" class="form-horizontal">
                                    <select name="language" class="orderby">
                                        <option value="">United States </option>
                                        <option value="12">Afganisthan</option>
                                        <option value="21">Albenia</option>
                                        <option value="25">Algeria</option>
                                        <option value="25">Australia</option>
                                        <option value="25">Austria</option>
                                        <option value="25">Angola</option>
                                        <option value="25">Argentina</option>
                                        <option value="25">Bangladesh</option>
                                        <option value="25">Brunai</option>
                                        <option value="25">Belgium</option>
                                        <option value="25">Belarus</option>
                                        <option value="25">Brazil</option>
                                        <option value="25">Butan</option>
                                        <option value="25">Barma</option>
                                        <option value="25">Canada</option>
                                        <option value="25">Chad</option>
                                        <option value="25">Chaina</option>
                                        <option value="25">Dubai</option>
                                        <option value="25">Denmark</option>
                                        <option value="25">Domineka</option>
                                        <option value="25">Egypt</option>
                                        <option value="25">Ecoudar</option>
                                        <option value="25">Estonia</option>
                                        <option value="25">France</option>
                                        <option value="25">Finland</option>
                                        <option value="25">Germany</option>
                                        <option value="25">Italy</option>
                                        <option value="25">India</option>
                                        <option value="25">Pakisthan</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="search-categori">
                            <h5>Zip / Postal Code</h5>
                            <form action="#">
                                <div class="code-search">
                                    <input type="text">
                                    <button class="code-search-butt" type="submit">get a Quote</button>
                                </div>
                            </form>
                        </div>
                    </div>#}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="place-section">
                        <div class="place-headline">
                            <h4>Discount Codes</h4>
                            <p>Enter your coupon code if you have one..</p>
                            <form action="#">
                                <div class="code-search">
                                    {% if form.promotionCoupon is not null %}
                                        {{ form_row(form.promotionCoupon , {'label_attr': {'class': 'apply-input'}}) }}
                                    {% endif %}
                                    <button class="code-search-butt" type="submit">Apply a coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class=" place-section">
                        <div class="rate-subtotal">
                            {% set promotionTotal = cart.getPromotionsTotalRecursively() %}
                            {% if promotionTotal %}
                                <h4>Subtotal <span><strong>{{ 'sylius.ui.promotion_total'|trans }}</strong>: -{{ (-1 * promotionTotal)|sylius_price }}</span></h4>
                            {% endif %}
                            {% for taxLabel, taxAmount in sylius_aggregate_adjustments(cart.getAdjustmentsRecursively(taxAdjustment)) %}
                                <li> </li>
                                <h4>Taxes Total<span>{{ taxLabel }} {{ taxAmount|sylius_price }}</span></h4>
                            {% else %}
                                <h4><span>{{ 'sylius.order.no_taxes'|trans }}</span></h4>
                            {% endfor %}
                            <h2>Grand Total <span>{{ cart.total|sylius_price }}</span></h2>
                            <a class="check-cart-btn" href="{{ path('sylius_checkout_start') }}">Proceed to checkout</a>
                            <p>checkout with maltiple Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {{ alerts.info('sylius.cart.empty'|trans) }}
    {% endif %}
    {% endblock %}

{% block sylius_cart_item_row %}
    {{ parent() }}
    {% block form_message %}{% endblock %}
{% endblock %}