{% extends 'SyliusWebBundle::menu.html.twig' %}
{% block label %}
    {% if item.labelAttribute('icon') %}<i class="{{ item.labelAttribute('icon') }}"></i>{% endif %}
    {% if not item.labelAttribute('iconOnly') %}
        {% if item.parent.getName() == 'root'  %}
            {{ dump(item) }}
            <div class="layout-title">
                <h2>{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|trans|raw }}{% else %}{{ item.label|trans }}{% endif %}</h2>
            </div>
        {% else %}
            <a href="{{item.uri}}">{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|trans|raw }}{% else %}{{ item.label|trans }}{% endif %}</a>
        {% endif %}
    {% endif  %}
   {# {% if item.labelAttribute('data-image') %}<img src="{{ item.labelAttribute('data-image')|imagine_filter('sylius_small') }}" alt="{{ item.name }}" class="menu-thumbnail"/>{% endif %}#}
{% endblock %}
